<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World App</title>
    <!-- Bootstrap is currently overwritten by some stuff -->
    <link rel="stylesheet" href="css/libraries.css">
    <link rel="stylesheet" href="css/main.css">
<body class="mini-navbar fixed-nav">
    <div id="root" style="height:100%"></div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>